{% extends "notes/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Створення нотатки{{ note.note_title }}{% endblock %}


{% block new %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'notes:index' %}">Повернутись до списку нотаток</a>
    </li>
{% endblock %}

{% block content %}
    <h4>Створення нової нотатки</h4>

    <form action="{% url 'notes:add_note' %}" method="post">
        {% csrf_token %}
        {{ form|crispy}}

        <input type="submit" value="Зберегти">
    </form>

{#    <p>#}
{#        <a href="{% url 'notes:index' %}">⬅ Повернутися до списку нотаток</a>#}
{#    </p>#}
{% endblock %}
